<div class = "country">
    {{#if block.data.details.bodyObjects.country_name}}
        <span class="counts"> Country: </span>
        <b>{{block.data.details.bodyObjects.country_name}}</b>
    {{/if}}
</div>

<div class = "city">
    {{#if block.data.details.bodyObjects.city}}
        <span class="counts"> City: </span>
        <b>{{block.data.details.bodyObjects.city}}</b>
    {{/if}}
</div>

<div class = "asn">
    {{#if block.data.details.bodyObjects.asn}}
        <span class="counts"> ASN: </span>
        <b>{{block.data.details.bodyObjects.asn}}</b>
    {{/if}}
</div>

<div class = "validation ">
    {{#if block.data.details.bodyObjects.validation}}
    <span class="datas"> Validation: </span>
    {{/if}}
        {{#if block.data.details.bodyObjects.validation}}
            {{#each block.data.details.bodyObjects.validation as |data|}}
                    <li>{{data.source}}</li>
            {{/each}}
        {{else}}
        {{/if}}
</div>


<div class = "whois">
    {{#if block.data.details.bodyObjects.whois}}
        <span class="balis"> WhoIs: </span>
         <a href="{{block.data.details.bodyObjects.whois}}"> <b>(View in DomainTools WhoIs) </b> </a>
    {{/if}}
</div>


{{#if block.data.details.bodyObjects.pulse_info.pulses}}
<div class="dnsdball">
    {{#each block.data.details.bodyObjects.pulse_info.pulses as |item|}}

    <div class = "pulse">
        <i class = "fa fa-info #ADADAD"></i><span class="type"> <b>Pulse: </b> </span>
    </div>

    <div class = "tlp">
        {{#if item.TLP}}
        <span class="type"> TLP: </span>
        <b>{{item.TLP}}</b>
        {{/if}}
    </div>

    <div class = "first">
        {{#if item.observation.modified}}
            <span class="Ctimefirst"> Last modified: </span>
            <b>{{moment-time item.observation.modified}}</b>
        {{/if}}
    </div>

    <div class = "rname">
        {{#if item.name}}
            <span class="name"> Name: </span>
            <b>{{item.name}}</b>
        {{/if}}
    </div>

    <div class = "rname">
        {{#if item.adversary}}
            <span class="name"> Adversary: </span>
            <b>{{item.adversary}}</b>
        {{/if}}
    </div>

    <div class = "rname">
        {{#if item.description}}
            <span class="name"> Description: </span>
            <b>{{item.description}}</b>
        {{/if}}
    </div>

    <div class = "tags">
        {{#if item.tags}}
        <span class="datas"> Tags: </span>
        {{/if}}
            {{#if item.tags}}
                {{#each item.tags as |data|}}
                        <li><b>{{data}}</b></li>
                {{/each}}
            {{else}}
            {{/if}}
    </div>

    <div class = "tags">
        {{#if item.targeted_countries}}
        <span class="datas"> Targeted Countries: </span>
        {{/if}}
            {{#if item.targeted_countries}}
                {{#each item.targeted_countries as |data|}}
                        <li><b>{{data}}</b></li>
                {{/each}}
            {{else}}
            {{/if}}
    </div>

    <div class = "groups">
        {{#if item.groups}}
        <span class="datas"> Group Names: </span>
        {{/if}}
            {{#if item.groups}}
                {{#each item.groups as |data|}}
                        <li><b>{{data.name}}</b></li>
                {{/each}}
            {{else}}
            {{/if}}
    </div>

    <div class = "references">
        {{#if item.references}}
        <span class="datas"> References: </span>
        {{/if}}
            {{#if item.references}}
                {{#each item.references as |data|}}
                        <li><b>{{data}}</b></li>
                {{/each}}
            {{else}}
            {{/if}}
    </div>
    {{/each}}

</div>
{{else}}


<div class = "rtype">
    <i class = "fa fa-exclamation-circle #ADADAD"></i><span class="type"> <b>No Pulse Information Found</b> </span>
</div>
{{/if}}
