{{#if block.data.details.country_name}}
    <div class="country">
        <span class="counts"> Country: </span>
        <b>{{block.data.details.country_name}}</b>
    </div>
{{/if}}

{{#if block.data.details.city}}
    <div class="city">
        <span class="counts"> City: </span>
        <b>{{block.data.details.city}}</b>
    </div>
{{/if}}

{{#if block.data.details.asn}}
    <div class="asn">
        <span class="counts"> ASN: </span>
        <b>{{block.data.details.asn}}</b>
    </div>
{{/if}}

{{#if block.data.details.validation}}
    <div class="validation ">
        <span class="datas"> Validation: </span>
        {{#each block.data.details.validation as |data|}}
            <li>{{data.source}}</li>
        {{/each}}
    </div>
{{/if}}

{{#if block.data.details.whois}}
    <div class="whois">
        <a href="{{block.data.details.whois}}"> <b>(View in DomainTools Whois) </b> </a>
    </div>
{{/if}}

{{#if block.data.details.pulse_info.pulses}}
    <div class="dnsdball">
        {{#each block.data.details.pulse_info.pulses as |item|}}

            <div class="pulse">
                <i class="fa fa-info #ADADAD"></i><span class="type"> <b>Pulse: </b> </span>
            </div>

            <div class="tlp">
                {{#if item.TLP}}
                    <span class="type"> TLP: </span>
                    <b>{{item.TLP}}</b>
                {{/if}}
            </div>

            <div class="first">
                {{#if item.observation.modified}}
                    <span class="Ctimefirst"> Last modified: </span>
                    <b>{{moment-time item.observation.modified}}</b>
                {{/if}}
            </div>

            <div class="rname">
                {{#if item.name}}
                    <span class="name"> Name: </span>
                    <b>{{item.name}}</b>
                {{/if}}
            </div>

            <div class="rname">
                {{#if item.adversary}}
                    <span class="name"> Adversary: </span>
                    <b>{{item.adversary}}</b>
                {{/if}}
            </div>

            <div class="rname">
                {{#if item.description}}
                    <span class="name"> Description: </span>
                    <b>{{item.description}}</b>
                {{/if}}
            </div>

            <div class="tags">
                {{#if item.tags}}
                    <span class="datas"> Tags: </span>
                {{/if}}
                {{#if item.tags}}
                    {{#each item.tags as |data|}}
                        <li><b>{{data}}</b></li>
                    {{/each}}
                {{else}}
                {{/if}}
            </div>

            <div class="tags">
                {{#if item.targeted_countries}}
                    <span class="datas"> Targeted Countries: </span>
                {{/if}}
                {{#if item.targeted_countries}}
                    {{#each item.targeted_countries as |data|}}
                        <li><b>{{data}}</b></li>
                    {{/each}}
                {{else}}
                {{/if}}
            </div>

            <div class="groups">
                {{#if item.groups}}
                    <span class="datas"> Group Names: </span>
                {{/if}}
                {{#if item.groups}}
                    {{#each item.groups as |data|}}
                        <li><b>{{data.name}}</b></li>
                    {{/each}}
                {{else}}
                {{/if}}
            </div>

            <div class="references">
                {{#if item.references}}
                    <span class="datas"> References: </span>
                {{/if}}
                {{#if item.references}}
                    {{#each item.references as |data|}}
                        <li><b>{{data}}</b></li>
                    {{/each}}
                {{else}}
                {{/if}}
            </div>
        {{/each}}

    </div>
{{else}}
    <div class="rtype">
        <i class="fa fa-exclamation-circle #ADADAD"></i><span class="type"> <b>No Pulse Information Found</b> </span>
    </div>
{{/if}}
