<div class="p-non-exfoliate-outer-padding">
    {{#if details.whois}}
        <div class="whois-container">
            <a class="p-link" href="{{details.whois}}">View in DomainTools Whois <i
                    class="fa fa-external-link"></i></a>
        </div>
    {{/if}}

    {{#if details.country_name}}
        <div>
            <span class="p-key">Country: </span>
            <span class="p-value">{{details.country_name}}</span>
        </div>
    {{/if}}

    {{#if details.city}}
        <div>
            <span class="p-key">City: </span>
            <span class="p-value">{{details.city}}</span>
        </div>
    {{/if}}

    {{#if details.asn}}
        <div>
            <span class="p-key">ASN: </span>
            <span class="p-value">{{details.asn}}</span>
        </div>
    {{/if}}

    {{#if details.validation}}
        <div>
            <span class="p-key"> Validation: </span>
            {{#each (limit details.validation maxValidation) as |data|}}
                <span class="p-value comma-delimited-item">{{data.source}}</span>
            {{/each}}
            {{#if (gt details.validation.length maxValidation)}}
                <span class="p-footnote">(Not all validations shown)</span>
            {{/if}}
        </div>
    {{/if}}

    {{#if details.pulse_info.pulses}}
        <div class="pulses">
            {{#each (limit details.pulse_info.pulses maxPulses) as |pulse|}}
                <div class="pulse-container">
                    <h1 class="p-title">
                        <i class="fa fa-fw fa-info"></i> Pulse
                        <div class="tlp-graphic">
                            {{#if (eq pulse.TLP "red")}}
                                <span class="circle p-bg-red"></span>
                            {{else}}
                                <span class="circle p-bg-white"></span>
                            {{/if}}
                            {{#if (eq pulse.TLP "amber")}}
                                <span class="circle p-bg-orange"></span>
                            {{else}}
                                <span class="circle p-bg-white"></span>
                            {{/if}}
                            {{#if (eq pulse.TLP "green")}}
                                <span class="circle p-bg-green"></span>
                            {{else}}
                                <span class="circle p-bg-white"></span>
                            {{/if}}
                        </div>
                    </h1>

                    {{#if pulse.TLP}}
                        <div>
                            <span class="p-key">TLP: </span>
                            <span class="p-value">{{pulse.TLP}}</span>
                        </div>
                    {{/if}}

                    {{#if pulse.observation.modified}}
                        <div>
                            <span class="p-key">Last modified: </span>
                            <span class="p-value">{{moment-time pulse.observation.modified}}</span>
                        </div>
                    {{/if}}

                    {{#if pulse.name}}
                        <div>
                            <span class="p-key">Name: </span>
                            <span class="p-value">{{pulse.name}}</span>
                        </div>
                    {{/if}}

                    {{#if pulse.adversary}}
                        <div>
                            <span class="p-key">Adversary: </span>
                            <span class="p-value">{{pulse.adversary}}</span>
                        </div>
                    {{/if}}

                    {{#if pulse.groups}}
                        <div>
                            <span class="p-key">Group Names: </span>
                            {{#each (limit pulse.groups maxGroups) as |data|}}
                                <span class="p-value comma-delimited-item">{{data.name}}</span>
                            {{/each}}
                        </div>
                    {{/if}}

                    {{#if pulse.targeted_countries}}
                        <div>
                            <span class="p-key">Targeted Countries: </span>
                            {{#each (limit pulse.targeted_countries maxTargetedCountries) as |data|}}
                                <span class="p-value comma-delimited-item">{{data}}</span>
                            {{/each}}
                            {{#if (gt pulse.targeted_countries.length maxTargetedCountries)}}
                                <span class="p-footnote">(Not all countries shown)</span>
                            {{/if}}
                        </div>
                    {{/if}}

                    {{#if pulse.description}}
                        <div>
                            <span class="p-key">Description:</span>
                            <span class="p-value">{{pulse.description}}</span>
                        </div>
                    {{/if}}

                    {{#if pulse.tags}}
                        <div class="tags">
                            {{#each (limit pulse.tags maxPulseTags) as |tag|}}
                                <span class="pulse-tag">{{tag}}</span>
                            {{/each}}
                            {{#if (gt pulse.tags.length maxPulseTags)}}
                                <span class="p-footnote">(Not all tags shown)</span>
                            {{/if}}
                        </div>
                    {{/if}}

                    {{#if pulse.references}}
                        <div>
                            <span class="p-key">References: </span>
                            {{#each (limit pulse.references maxReferences) as |data|}}
                                <div>
                                    <i class="fa fa-external-link-square fa-fw p-grey"></i>
                                    <a class="p-link reference" href="{{data}}">{{data}}</a>
                                </div>
                            {{/each}}
                            {{#if (gt pulse.references.length maxReferences)}}
                                <span class="p-footnote">(Not all references shown)</span>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
        {{#unless allPulsesShowing}}
            <span {{action "showMorePulses"}} class="p-action">Show {{pulsesPerPage}} more pulses</span>
        {{else}}
            <span class="p-footnote">(All Pulses Showing)</span>
        {{/unless}}
    {{else}}
        <div>
            <i class="fa fa-exclamation-circle p-yellow"></i><span> No Pulse Details Available</span>
        </div>
    {{/if}}
</div>